@import './globals.scss';

.colorModeButtonConatiner {
  background-color: rgba($textColor, $alpha: 0.04);
  border-radius: 22px;
  width: 13rem;
  height: 2.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  button {
    font-family: 'Exo 2', sans-serif;
    color: rgba($textColor, $alpha: 0.5);
    background-color: rgba($lightGray, $alpha: 0);
    width: 45%;
    height: 80%;
    border-radius: 22px;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    display: flex;
    transition: all ease-in-out 0.2s;
    .colorModeicon {
      color: $textColor;
    }
  }
  .active {
    color: $textColor;
    background-color: rgba($textColor, $alpha: 0.06);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  button:hover {
    color: $textColor;
    cursor: pointer;
  }
}
